Import libs

In [2]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

Load datasets

In [40]:
data_hosts_path = '../kaggle/input/olympic-games-medals-19862018/olympic_hosts.csv'
data_medals_path = '../kaggle/input/olympic-games-medals-19862018/olympic_medals.csv'
data_results_path = '../kaggle/input/olympic-games-medals-19862018/olympic_results.csv'
data_athletes_path = '../kaggle/input/olympic-games-medals-19862018/olympic_athletes.csv'
events_2024_path = '../kaggle/input/2024/events.csv' 

df_hosts = pd.read_csv(data_hosts_path)
df_medals = pd.read_csv(data_medals_path)
df_results = pd.read_csv(data_results_path)
df_athletes = pd.read_csv(data_athletes_path)
df_events_2024 = pd.read_csv(events_2024_path)

Inspect data

In [25]:
df_medals.head()
df_medals.drop(['athlete_url', 'participant_title', 'country_code', 'country_3_letter_code'], axis=1, inplace=True)

In [41]:
df_events_2024.head()

,event,tag,sport,sport_code,sport_url
0,Men's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
1,Women's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
2,Men's Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
3,Women's Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
4,Mixed Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery

In [26]:
df_medals.head(20)

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,athlete_full_name,country_name
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Stefania CONSTANTINI,Italy
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Amos MOSANER,Italy
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Kristin SKASLIEN,Norway
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Magnus NEDREGOTTEN,Norway
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Almida DE VAL,Sweden
5,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Oskar ERIKSSON,Sweden
6,Curling,beijing-2022,Women,Women,GOLD,GameTeam,NaN,Great Britain
7,Curling,beijing-2022,Women,Women,SILVER,GameTeam,NaN,Japan
8,Curling,beijing-2022,Women,Women,BRONZE,GameTeam,NaN,Sweden
9,Curling,beijing-2022,Men,Men,GOLD,GameTeam,NaN,Sweden
10,Curling,beijing-2022,Men,Men,SILVER,GameTeam,NaN,Great Britain
11,Curling,beijing-2022,Men,Men,BRONZE,GameTeam,NaN,Canada
12,Freestyle Skiing,beijing-2022,Men's Moguls,Men,SILVER,Athlete,Mikael KINGSBURY,Canada
13,Freestyle Skiing,beijing-2022,Men's Moguls,Men,GOLD,Athlete,Walter WALLBERG,Sweden
14,Freestyle Skiing,beijing-2022,Men's Moguls,Men,BRONZE,Athlete,Ikuma HORISHIMA,Japan
15,Freestyle Skiing,beijing-2022,Men's Freeski Halfpipe,Men,GOLD,Athlete,Nico PORTEOUS,New Zealand
16,Freestyle Skiing,beijing-2022,Men's Freeski Halfpipe,Men,SILVER,Athlete,David WISE,United States of America
17,Freestyle Skiing,beijing-2022,Men's Freeski Halfpipe,Men,BRONZE,Athlete,Alex FERREIRA,United States of America
18,Freestyle Skiing,beijing-2022,Men's Freeski Big Air,Men,BRONZE,Athlete,Henrik HARLAUT,Sweden
19,Freestyle Skiing,beijing-2022,Men's Freeski Big Air,Men,GOLD,Athlete,Birk RUUD,Norway

In [30]:
df_gold_medals = df_medals.query('medal_type == "GOLD"')
df_gold_medals

,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,athlete_full_name,country_name
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Stefania CONSTANTINI,Italy
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Amos MOSANER,Italy
6,Curling,beijing-2022,Women,Women,GOLD,GameTeam,NaN,Great Britain
9,Curling,beijing-2022,Men,Men,GOLD,GameTeam,NaN,Sweden
13,Freestyle Skiing,beijing-2022,Men's Moguls,Men,GOLD,Athlete,Walter WALLBERG,Sweden
...,...,...,...,...,...,...,...,...
21682,Tennis,athens-1896,doubles men,Men,GOLD,GameTeam,John BOLAND,MIX
21683,Tennis,athens-1896,doubles men,Men,GOLD,GameTeam,Fritz Traun,MIX
21688,Wrestling,athens-1896,"Unlimited Class, Greco-Roman Men",Men,GOLD,Athlete,Carl SCHUHMANN,Germany
21691,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,GOLD,Athlete,Launceston ELLIOT,Great Britain
21694,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,Viggo JENSEN,Denmark

In [38]:
# country_gold_medals = df_gold_medals.groupby('country_name').size().reset_index(name='gold_medal_count')
# country_gold_medals = country_gold_medals.sort_values(by='gold_medal_count', ascending=False)

# country_gold_medals
country_sport_gold_medals = df_gold_medals.groupby(['country_name', 'discipline_title']).size().reset_index(name='gold_medal_count')
country_sport_gold_medals = country_sport_gold_medals.sort_values(by='gold_medal_count', ascending=False)

# Display the grouped result
print(country_sport_gold_medals.head())

                    country_name     discipline_title  gold_medal_count
995     United States of America            Athletics               342
1033    United States of America             Swimming               258
847                 Soviet Union  Gymnastics Artistic                72
37                     Australia             Swimming                69
680   People's Republic of China               Diving                66

In [33]:
print(df_gold_medals.columns)

Index(['discipline_title', 'slug_game', 'event_title', 'event_gender',
       'medal_type', 'participant_type', 'athlete_full_name', 'country_name'],
      dtype='object')

In [35]:
df_hosts.head()

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

Merge Historical Data with 2024 Events

In [42]:
merged_data = pd.merge(country_sport_gold_medals, df_events_2024, left_on='discipline_title', right_on='sport', how='right')

merged_data['gold_medal_count'] = merged_data['gold_medal_count'].fillna(0)

print(merged_data.head())

               country_name discipline_title  gold_medal_count  \
0         Republic of Korea          Archery              28.0
1  United States of America          Archery              14.0
2                   Belgium          Archery              11.0
3                    France          Archery               7.0
4                     Italy          Archery               2.0

              event      tag    sport sport_code  \
0  Men's Individual  archery  Archery        ARC
1  Men's Individual  archery  Archery        ARC
2  Men's Individual  archery  Archery        ARC
3  Men's Individual  archery  Archery        ARC
4  Men's Individual  archery  Archery        ARC

                                           sport_url
0  https://olympics.com/en/paris-2024/sports/archery
1  https://olympics.com/en/paris-2024/sports/archery
2  https://olympics.com/en/paris-2024/sports/archery
3  https://olympics.com/en/paris-2024/sports/archery
4  https://olympics.com/en/paris-2024/sports/archery

Pivot the Data

In [47]:
pivot_table = merged_data.pivot(index='country_name', columns='discipline_title', values='gold_medal_count').fillna(0)

pivot_table.reset_index(inplace=True)

print(pivot_table.head())

KeyError: 'gold_medal_count'